# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Models
node_modules
dist
dist-ssr
*.local

# Environment Variables
.env
.env.test
.env.production

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Uploads (Keep the folder but ignore content, except keepfile if needed)
uploads/*
!uploads/.keep
